accelerate==0.25.0
audioread==3.0.1
datasets==2.16.0
editdistance==0.6.2
evaluate==0.4.1
ffmpeg==1.4
ffmpeg-python==0.2.0
jiwer==3.0.4
librosa==0.10.1
numpy==1.26.2
pandas==2.1.4
pyarrow==14.0.2
PyYAML==6.0.1
seqeval==1.2.2
tokenizers==0.15.0
torch==2.1.2
torchaudio==2.1.2
transformers==4.37.0
urllib3==1.26.6